*{
    background-color:pink;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

} 
div{
    border: 4px solid white;
    height: 500px;
    width: 400px;
}